h1 {
    margin-top: 115px;
    font-family: helvetica, arial, sans-serif;
    text-align: center;
    color: white;
  }
  
body {
    width: 640px;
    margin: 0 auto;
    text-align: center;
  }

input {
    color: White;
    background: rgb(64, 77, 84);
    width: 80px;
    height: 35px;
    border-radius: 15px;
}

#minInput {
    color: white;
    width: 80px;
    text-align: center;
    margin: -5.5%;
}

#secInput {
    color: white;
    background: rgb(64, 77, 84);
    width: 80px;
    text-align: center;
    margin: 8.5%;
}

p {
    font-family: helvetica, arial, sans-serif;
    font-size: 350%;
    color: white;
}

li {
    font-family: helvetica, arial, sans-serif;
    text-align: center;
    color: white;
}
.center{
    text-align: center;
  }

.cross-out {
    text-decoration: line-through;
  }

#myVideo {
    height: 120%;
    width: auto;
    z-index: -10;
    position: fixed; 
    top: -120px;
    left: 0px;
}

#addTask {
    text-align: center;
    color: White;
    background: rgb(64, 77, 84);
    width: 80px;
    height: 35px;
    border-radius: 15px;
}

.Start {
    height: 35px;
}

.Stop {
    height: 35px;
}

.Reset {
    height: 35px;
}
#taskInputBox{
    text-align: center;
    width: 80px;
}

/* audio {
    display: flex;
    flex-direction: row;
    background-color: transparent;
    border: 0;
    width: 500px;
    height: 54px;
} */
button {
    text-align: center;
    color: White;
    background: rgb(64, 77, 84);
    width: 80px;
    height: 35px;
    border-radius: 15px;
}

#rain_sounds_text {
    font-family: helvetica, arial, sans-serif;
    font-size: 100%;
    color: rgb(122, 122, 122);
    margin-top: 155px;
}

#deletebutton {
    background: rgb(171, 0, 0);
    width: 35px;
    height: 35px;
    border-radius: 5px;
    margin-left: 5%;
}
